body {
    background-color: lightgray;
}

.white {
    width: 80px;
    height: 80px;
    background-color:#fff;
  
}

.black {
    width: 80px;
    height: 80px;
    background-color: #ccc;
    
}

#board {
    margin-left:30%;
    border:5px solid #333; 
}
.select {
    color: lightcoral;
    
}
span {
    font-size: 50px;
    position: relative;
    left:15px;
 }
 #nextPlayer{
     font-size: 15px;
 }
 #random{
     font-size: 20px;
 }
 #newGame{
     font-size: 20px;
 }
 
 #whiteTaken {
    height: 70px;
    margin-top: 10px;
    margin-left:30%;
    font-size: 50px;
    position:relative;
 }
  #blackTaken {
    height: 70px;
    margin-left:30%;
    font-size: 50px;
    position:relative;
 }
 
.greenSelect {
   background-color: lightgreen;
}

.selected-figure {
    border: 3px dashed purple;
}
