body {
    background-color: lightgray;
}

.white {
    width: 80px;
    height: 80px;
    background-color:#fff;
  
}

.black {
    width: 80px;
    height: 80px;
    background-color: #ccc;
    
}

#chessBoard {
    margin-left: 500px;
    border:5px solid #333; 
}
.select {
    background-color: lightcoral;
}
span {
    font-size: 50px;
    position: relative;
    left:15px;
 }
 #nextPlayer{
     font-size: 20px;
 }
 #random{
     margin-top: 10px;
     width:120px;
     height: 40px;
     margin-left: 50px;
     background-color: dodgerblue;
     color: white;
     font-size: 15px;
 }
 #newGame{
     background-color:cornflowerblue;
     margin-top: 10px;
     width:120px;
     height: 40px;
     margin-left: 50px;
     color: white;
     font-size: 15px;
 }
 
 #whiteTaken {
    margin-top: 50px;
    margin-left: 500px;
    font-size: 50px;
 }
  #blackTaken {
    margin-top: 10px;
    margin-left: 500px;
    font-size: 50px;
 }
   
   